main{
    position: relative;
    display: block;
    width: 70%;
    left: 15%;
    align-items: center;

}

.about-me{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.text_intro{
    width: 60%;
    height: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.person_block{
    width: 40%;
    height: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person_block .img{
    width: 90%;
    height: auto;

}
.avatar-container img {
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 添加阴影边框，增强立体感 */
}
.person_block img{
    width: 100%;
    height: auto;
    border: 2px solid dodgerblue;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5); /* 添加阴影边框，增强立体感 */
}
.tx{
    text-align: center;
}

#dan{
    text-decoration: none;
    font-size: 10px;
    color: gray;
}