.blog-list ul {
    width: 100%;
    max-width: 500px; /* 控制最大宽度 */
    margin: 0 auto; /* 居中对齐 */
    padding: 0;
    list-style: none;
}


.blog-list li {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px; /* 圆角边框 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* 固定宽度，可根据需要调整 */
    max-width: 500px; /* 限制最大宽度，适配大屏 */
    height: auto; /* 高度自适应内容 */
    padding: 10px; /* 统一内边距 */
    margin: 10px 0px; /* 列表项之间的间距 */
    text-align: center; /* 确保文字居中 */
    cursor: pointer;
}

.blog-list li a{
    color: dodgerblue;
    font-size: 20px;
    margin: 0px 3px;
    font-weight: bold;
    text-decoration: none;
}

.blog-list li:hover a{
    text-decoration: underline;
}

.blog-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    text-align: center;

}

button{
    width: 100px;
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0px;
}


button:hover {
    background-color: #2980b9; /* 按钮悬停效果 */
}