section{
    width: 100%;
}

h2 {
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    width: 60%;
}

section ul{
    list-style-type: none;
    width: 100%;
}
section ul a{
    text-decoration: none;
    color: dodgerblue;
}

section ul a:hover{
    text-decoration: underline;
}

main{
    margin-top: 50px;
    margin-bottom: 70px;
    left: 25%;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: antiquewhite;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}