/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    padding-top:20px;
    background-color: #f4f4f4;
    margin: 0px;

}

/* 导航栏样式 */
header {
    background-color: dodgerblue;
    color: white;
    padding: 3px 0;
    width: 40%;
    left:30%;
    position: fixed;
    top: 7px;
    z-index: 1000;
    border-radius: 30px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 15px 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;

}
header nav ul li a:hover,.nowPos{
    color: black;
    background-color: #f4f4f4;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
}

/* 主页内容 */
main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}



section {
    margin-bottom: 40px;
}

section h3 {
    color: #007bff;
}

section h3 a {
    text-decoration: none;
}

/* 个人简介 */
.about-me p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* 页脚 */
footer {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
