/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 导航栏样式 */
header {
    background-color: dodgerblue;
    color: white;
    padding: 3px 0;
    width: auto;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 15px 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
header nav ul li a:hover,.nowPos{
    color:white;
    background-color: orange;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    border-radius: 5px;
}

/* 主页内容 */
main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

section {
    margin-bottom: 40px;
}

section h3 {
    color: #007bff;
}

section h3 a {
    text-decoration: none;
}

/* 个人简介 */
.about-me p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* 页脚 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
